.App{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.cart{
    width: 30%;

    padding: 5px;
    
}
.tariff-name{
    background-color: #5d91b6;
    padding: 10px;
    
    
}

.priсe {
    background-color: rgb(159, 238, 231);
    padding: 10px;
}
.speed {
    background-color: #F5F5F5;
    padding: 10px;
    

}
.text {
    background-color: #AFAFAF;
    padding: 10px;
    
}
.tariff-name2 {
    background-color: rgb(195, 197, 74);
    padding: 10px;
    
}
.priсe2 {
    background-color: chartreuse;
    padding: 10px;
    
}
.tariff-name3 {
    background-color: coral;
    padding: 10px;
    
}
.priсe3 {
    background-color: rgb(209, 47, 68);
    padding: 10px;
    
}
.tariff-name4 {
    background-color: rgb(8, 8, 8);
    padding: 10px;
    
}
.priсe4 {
    background-color: rgb(22, 19, 19);
    padding: 10px;
    
}
